ion-content{

  --background: radial-gradient(circle at 94.9% 75.92%, #a3ffff 0, #86ffff 10%, #6affff 20%, #50ffff 30%, 
  #3dffff 40%, #35fbfb 50%, #37e0e8 60%, #3bc8d7 70%, #40b3c6 80%, #45a2b8 90%, #4894ac 100%);
}

ion-item{

  --background:radial-gradient(circle at 24.08% 5.1%, #a3ffff 0, #86ffff 10%, #6affff 20%, #50ffff 30%, 
  #3dffff 40%, #35fbfb 50%, #37e0e8 60%, #3bc8d7 70%, #40b3c6 80%, #45a2b8 90%, #4894ac 100%);
}

h2 {
  margin-top: 15px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2.2pt;
  word-spacing: -2.2pt;
  line-height: 1.2;
  
}

