<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button color="danger" (click)="logout()"> Salir</ion-button>
    </ion-buttons>
    <ion-title class="title">Gracias!!</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [scrollEvents]="true" style="max-width: 550px; max-height: 700px; align-self: center;">
  
    <h2 style="align-self: center; align-tracks: center; text-align: center;">Forma parte de la familia RWR</h2>
    
    <br>

  <ion-item style="max-width: 350px; margin-left: 25px;">
      <button type="button" class="btn btn-light-outline btn-sm" (click)="formulario()">Contestar Formulario</button>
     <img class="icon" src="assets/icon/list.png" width="220" height="180"> 
    </ion-item> 
    
    <br>

    <ion-item style="max-width: 350px; margin-left: 25px;">
      <img class="icon-center" src="assets/icon/siguenosfb.jpg" width="400" height="200" (click)="pageFacebook()">
    </ion-item> 


</ion-content>