<ion-header>
  <ion-toolbar>
    <ion-title class="title" color="primary">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/vas.png" width="700" height="150">

  <form autocomplete="off">
    <br>
    <ion-item>
      <ion-label color="dark" position="floating"> Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" position="floating"> Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" type="submit" expand="block">Entrar</ion-button>
  </form>
<br>
<br>

<ion-grid>
    <ion-row class="justify-content-around align-items-center">
      <ion-col size="2">
        <img class="icon-center" src="assets/icon/google-mas.png" width="40" height="40" 
        class="google" (click)="onLoginGoogle(email,password)">        
      </ion-col>

          <ion-col size="2">
            <img class="icon-center" src="assets/icon/facebook.png" width="40" height="40" 
            class="facebook" (click)="onLoginFacebook(email,password)">
          </ion-col>

      <ion-col size="2">
        <img class="icon-center" src="assets/icon/twitter.png" width="40" height="40" 
        class="twitter" (click)="onLoginTwitter(email,password)">
      </ion-col>

      <ion-col size="2">
        <img class="icon-center" src="assets/icon/github.png" width="40" height="40" 
        class="github" (click)="onLoginGithub()">
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center ion-margin-top text-medium">
    <ion-label color="medium"><small>Si continúas, aceptas las Condiciones de servicio y la Política de privacidad de RWR</small></ion-label>
  </div>
  <div class="ion-text-center ion-margin-top">
    <a routerLink="/registro"><small>¿Olvidaste tu contraseña?</small></a>
  </div>

</ion-content>

