<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <br>
    <ion-row class="justify-content-around align-items-center">
      <ion-col size="6">
  <img class="icon" src="assets/icon/vas.png" width="200" height="80">
      </ion-col>

      <ion-col size="6">
  <img class="icon" src="assets/icon/RWR.PNG" width="100" height="80">
</ion-col>
    </ion-row>

  <form autocomplete="off">
    <br>
    <ion-item>
      <ion-input placeholder="Correo electrónico" clearInput value="clear me" type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput value="clear me" [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" name="password" placeholder="Password" required="true"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    
    <ion-button class="ion-margin-top" type="submit" expand="block" (click)="loginAdmin(email,password)">Entrar</ion-button>
  </form>
<br>
<br>

<ion-grid>
    <ion-row class="justify-content-around align-items-center">
      <ion-col size="2">
        <img class="icon-center" src="assets/icon/google-mas.png" width="40" height="40" 
        class="google" (click)="onLoginGoogle()">        
      </ion-col>

          <ion-col size="2">
            <img class="icon-center" src="assets/icon/facebook.png" width="40" height="40" 
            class="facebook" (click)="onLoginFacebook()">
          </ion-col>

      <ion-col size="2">
        <img class="icon-center" src="assets/icon/twitter.png" width="40" height="40" 
        class="twitter" (click)="onLoginTwitter()">
      </ion-col>

      <ion-col size="2">
        <img class="icon-center" src="assets/icon/github.png" width="40" height="40" 
        class="github" (click)="onLoginGithub()">
      </ion-col>
    </ion-row>
  </ion-grid>
<br>
  <div class="ion-text-center ion-margin-top text-medium">
    <ion-label color="medium"><small>Si continúas, aceptas las Condiciones de servicio y la Política de privacidad de RWR</small></ion-label>
  </div>
  <div class="ion-text-center ion-margin-top">
    <a routerLink="/registro"><small>¿Olvidaste tu contraseña?</small></a>
  </div>

</ion-content>

