.title {
background-color: #01579B;
}

.ion-button {
    background: #26A69A;
}

.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;
    --ionicon-stroke-width: 16px;
}

ion-input, ion-item{
    --background: transparent;
}
ion-content{
    --background:#F5F5F5;
}

.text-danger{
    color: #cf3c4f;
}
.google{
 --background: #DB4437;
}

.facebook{
    --background: #3b5998;
}

.github{
    --background: #000000; 
}

.logoVolveraSonar{
    --background: #01579B;
}


//Show Password

:host {
    display: flex;
    width: 100%;
    align-items: center;
  .type-toggle {
      padding-inline-start: 0.5rem;
  .show-option,
      .hide-option {
        font-size: 1.2rem;
        display: block;
  // In case you want to use text instead of icons
        &:not(ion-icon) {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }