<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/vas.png" width="700" height="150">

  <form autocomplete="off">
    <ion-item></ion-item>
    <ion-item>
      <ion-label color="dark" position="floating"> Correo electrónico <span class="text-danger">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" position="floating"> Contraseña <span class="text-danger">*</span></ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required="true"></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top" type="submit" expand="block" (click)="admin()">Entrar</ion-button>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button class="google" (click)="onLoginGoogle(email,password)">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </ion-col>

          <ion-col size="3">
            <ion-button class="facebook" (click)="onLoginFacebook(email,password)">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>

      <ion-col size="3">
        <ion-button class="twitter" (click)="onLoginTwitter(email,password)">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button class="github" (click)="onLoginGithub()">
          <ion-icon name="logo-github"></ion-icon>
        </ion-button>
      </ion-col>


    </ion-row>
  </ion-grid>

  <div class="ion-text-center ion-margin-top">
    <a routerLink="/registro"><small>Olvidé mi Contraseña</small></a>
  </div>

</ion-content>

