.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;
    --ionicon-stroke-width: 16px;
}

ion-input, ion-item{
    --background: transparent;
}
ion-content{
    --background:#E0F2F1;
}

.text-danger{
    color: #cf3c4f;
}
.google{
    --background: #DB4437;
}

.facebook{
    --background: #3b5998;
}

.github{
    --background: #000000; 
}

.logoVolveraSonar{
    --background: #01579B;
}