<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="secondary">
      <ion-button color="danger" class="tittle" (click)="logout()"> Salir</ion-button>
    </ion-buttons>
    <ion-title class="tittle">Administradores RWR</ion-title>
  </ion-toolbar>
  <ion-toolbar class="new-background-color2">
    <br>
    <ion-searchbar color="light" placeholder="Buscar seguidor..." 
    animated (ionChange)="buscarSeguidor($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div class="form-container">
    <img class="icon" src="assets/icon/image-rwr.jpeg" width="900" height="200">
    <ion-item  style="padding-top: 8px; border-radius: 16%;" *ngFor="let documentDatos of arrayColeccionDatos | filtro:textoBuscar " class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person-circle-outline"></ion-icon> {{documentDatos.data.nombre}}
        </h5>
        <p>
          <ion-icon name="call-outline"></ion-icon> {{documentDatos.data.numtelefono}}
        </p>
        <h5>
          <ion-icon name="logo-facebook" color="primary"></ion-icon> {{documentDatos.data.facebook}}
        </h5>
        <p>
          <ion-icon name="mail-unread-outline"></ion-icon> {{documentDatos.data.email}}
        </p>
        <h5>
          <ion-icon name="location-outline"></ion-icon> {{documentDatos.data.estado}}
        </h5>
        <!-- 
          Obtener valor de ID de Firebase
          <h5>
          <ion-icon name="logo-facebook"></ion-icon> {{documentDatos.idFirebase}}
        </h5> -->
      </ion-label>
    
      <div color="black" class="item-note" item-end>
        <button color="light" ion-button clear (click)="detalleSeguidor(documentDatos)">
          <ion-icon name="person" style="zoom:1.5"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteSeguidor(documentDatos)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
    <br>
    <br>
    <br>
    
  </div>

</ion-content>