.header .col {
    background-color:#E0E0E0;
}

.col {
    border: solid 1px #212121;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px #212121;
}

.row:last-child .col {
    border-bottom: solid 1px #212121;
}
  
  .form-container {
      font: 95% Arial, Helvetica, sans-serif;
      max-width: 500px;
      padding: 16px;
      margin: 10px auto;
      background: #DAF9EE;
  }
  
  .form-container h1 {
      background: #0097A7;
      padding: 20px 0;
      font-size: 140%;
      font-weight: 300;
      text-align: center;
      color: #fff;
      margin: -16px -16px 16px -16px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container input[type="email"],
  .form-container textarea {
      transition: all 0, 30% ease-in-out;
      outline: #000;
      box-sizing: border-box;
      width: 100%;
      background: #fff;
      margin-bottom: 4%;
      border: 1px solid #ccc;
      padding: 3%;
      color: #555;
      font: 95% Arial, Helvetica, sans-serif;
  }
  
  .form-container .btn-send {
      box-sizing: border-box;
      width: 100%;
      padding: 3%;
      background: #0097A7;
      border-bottom: 2px solid #0097A7;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      color: #fff;
      font-size: 15px;
  }
  
  .form-container .btn-send:hover{
      background: #0097A7;
  }
  
    
    /* Works - pass "my-custom-class" in cssClass to increase specificity */
    .my-custom-class .alert-wrapper {
      background: #f50000;
      background-color: #0097A7;
      width: 150px;
    }
  
    .my-custom-class {
      --background: #dd1111;
      --background-color: #0097A7;
      --background-attachment: fixed;
      --width: 150px;
    }
  
    .root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  
        #form {
          width: 250px;
          margin: 0 auto;
          height: 100px;
        }
        
        #form p {
          text-align: center;
        }
        
        #form label {
          font-size: 50px;
        }
    