<div class="form-container">
  <h1>Datos del usuario</h1>
  <form [formGroup]="formDatosSeguidor" (ngSubmit)="onSaveForm()">
    <input type="text" formControlName="nombre" placeholder="Nombre:">
    <input type="text" formControlName="edad" placeholder="Edad:">
    <input type="text" formControlName="calificacion" placeholder="Calificación:">
    <textarea type="textarea" formControlName="comentario" placeholder="Comentarios:"></textarea>

    <button type="submit" class="btn-send"> Enviar </button>
  </form>
</div>