<html class="md">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="secondary">
      <ion-button color="light" (click)="logout()"> Salir</ion-button>
    </ion-buttons>
    <ion-title >
      RWR Rockwell Road
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div class="form-container">
    <img class="icon" src="assets/icon/conferencia-rwr.jpeg" width="900" height="200">

    <h1>Cuéntanos....</h1>
    <form [formGroup]="formDatosSeguidor" (ngSubmit)="onSaveForm()">

      <ion-item>
        <ion-label position="floating">Nombre completo: </ion-label>
        <ion-input clearInput value="clear me" type="text" formControlName="nombre"></ion-input>
      </ion-item>

      <span
        *ngIf="this.formDatosSeguidor.get('nombre').errors?.required && this.formDatosSeguidor.get('nombre').touched"
        class="badge badge-danger"> Este campo debe ser llenado</span>

      <br>
      <ion-item>
        <ion-label>Estado:</ion-label>
        <ion-select placeholder="Selecciona" clearInput value="clear me" type="text" formControlName="estado">
          <ion-select-option>Aguascalientes</ion-select-option>
          <ion-select-option>Baja California</ion-select-option>
          <ion-select-option>Baja California Sur</ion-select-option>
          <ion-select-option>Campeche</ion-select-option>
          <ion-select-option>Coahuila</ion-select-option>
          <ion-select-option>Colima</ion-select-option>
          <ion-select-option>Chiapas</ion-select-option>
          <ion-select-option>Chihuahua</ion-select-option>
          <ion-select-option>CDMX</ion-select-option>
          <ion-select-option>Durango</ion-select-option>
          <ion-select-option>Guanajuato</ion-select-option>
          <ion-select-option>Guerrero</ion-select-option>
          <ion-select-option>Hidalgo</ion-select-option>
          <ion-select-option>Jalisco</ion-select-option>
          <ion-select-option>México</ion-select-option>
          <ion-select-option>Michoacán</ion-select-option>
          <ion-select-option>Morelos</ion-select-option>
          <ion-select-option>Nayarit</ion-select-option>
          <ion-select-option>Nuevo León</ion-select-option>
          <ion-select-option>Oaxaca</ion-select-option>
          <ion-select-option>Puebla</ion-select-option>
          <ion-select-option>Querétaro</ion-select-option>
          <ion-select-option>Quintana Roo</ion-select-option>
          <ion-select-option>San Luis Potosí</ion-select-option>
          <ion-select-option>Sinaloa</ion-select-option>
          <ion-select-option>Sonora</ion-select-option>
          <ion-select-option>Tabasco</ion-select-option>
          <ion-select-option>Tamaulipas</ion-select-option>
          <ion-select-option>Tlaxcala</ion-select-option>
          <ion-select-option>Veracruz</ion-select-option>
          <ion-select-option>Yucatán</ion-select-option>
          <ion-select-option>Zacatecas</ion-select-option>

        </ion-select>
      </ion-item>
      <span
        *ngIf="this.formDatosSeguidor.get('estado').errors?.required && this.formDatosSeguidor.get('estado').touched"
        class="badge badge-danger"> Tiene que seleccionar</span>

      <br>
      <ion-item>
        <ion-label position="floating">Municipio: </ion-label>
        <ion-input clearInput value="clear me" type="text" formControlName="municipio"></ion-input>
      </ion-item>
      <span
        *ngIf="this.formDatosSeguidor.get('municipio').errors?.required && this.formDatosSeguidor.get('municipio').touched"
        class="badge badge-danger">
        Este campo debe ser llenado
      </span>


      <br>
      <ion-item>
        <ion-label position="floating">Facebook: </ion-label>
        <ion-input clearInput value="clear me" type="text" formControlName="facebook"></ion-input>
      </ion-item>

      <span
        *ngIf="this.formDatosSeguidor.get('facebook').errors?.required && this.formDatosSeguidor.get('facebook').touched"
        class="badge badge-danger"> Este campo debe ser llenado</span>

      <br>
      <ion-item>
        <ion-label position="floating">Correo Electrónico: </ion-label>
        <ion-input clearInput value="clear me" type="text" formControlName="email"></ion-input>
      </ion-item>

      <span *ngIf="this.formDatosSeguidor.get('email').errors?.required && this.formDatosSeguidor.get('email').touched"
      class="badge badge-danger"> Este campo debe ser llenado</span>
      <span class="badge badge-danger" *ngIf="this.formDatosSeguidor.get('email').errors?.email && this.formDatosSeguidor.get('email').touched">* El email no es válido.</span>

      <br>
      <ion-item>
        <ion-label position="floating">Número Teléfonico: </ion-label>
        <ion-input clearInput value="clear me" type="number" formControlName="numtelefono"></ion-input>
      </ion-item>
      <span
        *ngIf="this.formDatosSeguidor.get('numtelefono').errors?.required  && this.formDatosSeguidor.get('numtelefono').touched"
        class="badge badge-danger">
        Este campo debe ser llenado
      </span>


      <br>
      <ion-item>
        <ion-label position="floating">Escuela procedencia: </ion-label>
        <ion-input clearInput value="clear me" type="text" formControlName="escuela" required></ion-input>
      </ion-item>
      <span
        *ngIf="this.formDatosSeguidor.get('escuela').errors?.required && this.formDatosSeguidor.get('escuela').touched"
        class="badge badge-danger">
        Este campo debe ser llenado
      </span>

      <br>
      <ion-list>
        <ion-item>
          <label>¿Te gustaría recibir nuestras promociones, ofertas o sorteos de RWR?</label>
        </ion-item>
        <ion-radio-group value="valor1" formControlName="respuesta1">
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio slot="start" value="Si" color="success" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="No" color="danger" checked></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <br>
      <ion-list>
        <ion-item>
          <label>¿Te gustaría formar parte de la familia RWR?</label>
        </ion-item>
        <ion-radio-group value="valor2" formControlName="respuesta2">
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio slot="start" value="Si" color="success" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="No" color="danger" checked></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <br>
      <ion-list>
        <ion-item>
          <label>¿Te gustaría ver más conferencias?</label>
        </ion-item>
        <ion-radio-group value="valor2" formControlName="respuesta3">
          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio slot="start" value="Si" color="success" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="No" color="danger" checked></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <br>

      <ion-list style="height: 120px;">
      <ion-item>
        <label>¿Qué tanto recomendarías esta conferencia a otras escuelas?</label>
      </ion-item>
      <br>
      <ion-item class="rating">
        <input value="5" type="radio" name="star" id="star5" (click)="addValue('Excelente')">
        <label for="star5"></label>
        <input value="4" type="radio" name="star" id="star4" (click)="addValue('Muy bueno')">
        <label for="star4"></label>
        <input value="3" type="radio" name="star" id="star3" (click)="addValue('Bueno')">
        <label for="star3"></label>
        <input value="2" type="radio" name="star" id="star2" (click)="addValue('Regular')">
        <label for="star2"></label>
        <input value="1" type="radio" name="star" id="star1" (click)="addValue('Malo')">
        <label for="star1"></label>
      </ion-item>
    </ion-list>
      <br>
      
      <ion-list>
      <ion-item>
        <textarea type="textarea" formControlName="comentario" placeholder="Comentarios:"></textarea>
      </ion-item>
      <span
      *ngIf="this.formDatosSeguidor.get('comentario').errors?.required && this.formDatosSeguidor.get('comentario').touched"
      class="badge badge-danger">
      Este campo debe ser llenado
    </span>
    </ion-list>
     
      <br>

      <button type="submit" class="btn-send" expand="block">Enviar</button>
    </form>

  </div>
</ion-content>
</html>